<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <title>Posts</title>
</head>
<body>
    <div class="container">
    <h1>Lista de Posts</h1>
    <ul>
        {% for post in posts %}
            <li>
                <h2>{{ post.titulo }}</h2>
                <p>Autor: {{ post.autor }}</p>
                <p>{{ post.conteudo }}</p>
            </li>
        {% endfor %}
    </ul>
    <a href="/post">Novo Post</a>
   </div>
</body>
</html>
